<p-card header="About" class="about">
  <p>Welcome to the LGBTQ Definitions website! I developed this website to provide a resource for anyone seeking to understand LGBTQ+ terms better. In a world where there are still many close-minded
    perspectives, I aim to provide clear definitions to prevent misconceptions and incorrect associations.
  </p>
  <p>I decided to make this project <strong>open source</strong> because, although I have provided the initial information to the best of
    my knowledge, I am aware that I may not be fully informed. In case there are mistakes or outdated information, I
    want to allow people to contribute and help ensure that this resource remains accurate and up-to-date.</p>
  <p>It's important to note that supporting LGBTQ+ individuals or their rights does not necessarily mean someone is part
    of the LGBTQ+ community. Likewise, one's appearance does not dictate their sexual orientation or gender identity.
    This distinction is crucial for preventing wrong associations and fostering a more inclusive environment.</p>
    <p>Where available, images used on this website are of famous celebrities who have openly talked about their self-identification. These images help to humanize and provide real-life examples of the diverse identities within the LGBTQ+ community.</p>
    <p>This website serves as a resource for anyone seeking to understand LGBTQ+ terms better. It's especially helpful for individuals from older generations who may find the newer terms overwhelming.</p>
    <p>Thank you for visiting, and I welcome your contributions to help promote understanding and acceptance. Together, we can make a difference!</p>
</p-card>
