<p-toolbar>
  <div class="p-toolbar-group-start">
    <p-button class="menu-toggle" (click)="sidebarVisible = true" icon="pi pi-bars" />
    <a routerLink="/" class="logo">
      <img src="/images/Gay_Pride_Flag.png" alt="">
      <div class="title">
        <h2>LGBTQ</h2>
        <p>Terms & Definitions</p>
      </div>
    </a>
  </div>
  <div class="p-toolbar-group-center">
  </div>
  <div class="p-toolbar-group-end">

    <p-inputSwitch [(ngModel)]="checked" />
  </div>
</p-toolbar>

<p-sidebar [(visible)]="sidebarVisible">
  <h3>Sidebar</h3>
  <span class="p-input-icon-left">
    <i class="pi pi-search"></i>
    <input pInputText placeholder="Search" />
  </span>
  <nav>
    <a routerLink="/about">About</a>
  </nav>
</p-sidebar>
