.logo {
  display: flex;
  gap: 0.7rem;
  margin-left: 1rem;

  img {
    width: 3.5rem;
    height: 2.5rem;
    border-radius: 0.5rem;
  }

  h2 {
    font-size: 1.2rem;
    margin: 0;
  }

  p {
    font-size: 0.9rem;
    margin: 0;
  }

}

nav {
  margin: 1rem 0;
}

@media (max-width: 768px) {
  .logo {
    align-items: center;
  }
  .sidebarSearch{
    width: 100%;
  }
}

