:host {
  display: flex;
  flex-direction: column;

  .cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin: 2rem 0;

    p-card {
      width: 70vw;

      .categories {
        display: flex;
        gap: 1.5rem;

        .category {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
}
