:host {
  display: flex;
  flex-direction: column;

  .cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin: 2rem 0;

    p-card {
      width: 70vw;
    }

    .image-wrapper {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 1rem;

      img {
        width: 18vw;
        height: 18vw;
        object-fit: cover;
        border-radius: 0.7rem;
        box-shadow: 0 0 0.5rem 0.1rem #2a2a2aea;

        &.flag {
          position: absolute;
          top: 0.5rem;
          right: 0.5rem;
          width: 6vw;
          height: 4rem;
          border-radius: 0.6rem;
          box-shadow: 0 0 0.5rem 0.1rem #2a2a2ab3;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .cards-wrapper {
    p-card {
      width: 90vw !important;

      .image-wrapper {
        align-items: center;
        width: 100%;

        img {
          width: 75vw;
          height: 75vw;
          margin-top: 1rem;

          &.flag {
            width: 25vw;
            height: 16vw;
          }
        }
      }
    }
  }
}
