<div class="cards-wrapper">
  @for (term of LGBTQTerms; track term;) {
  <p-card header="{{term.name}}" class="term-card">
    <div class="image-wrapper">
      <img src="{{term.imageSrc}}" alt="{{term.name}}">
    </div>
    <div class="categories">
      <p-tabView>
      @for (type of term.types; track type) {
          <p-tabPanel [header]="type.name">
            <p>
              {{ type.definition }}
            </p>
          </p-tabPanel>
        }
      </p-tabView>
    </div>
  </p-card>
  }
</div>
